{% block twitch_row %}

{{ encore_entry_script_tags('twitch-selector') }}


<div class="box">
    {% if value.itemType is not null%}
    <div class="box-header">
        <h3 class="box-title">Select a {{ value.itemType }}</h3>
    </div>

    <div class="box-body">
        {% for child in form.children|filter(child => not child.rendered) %}
        <div class="form-group">
            {{ form_label(child) }}
            {{ form_widget(child) }}
            {{ form_help(child) }}
            {{ form_errors(child) }}
        </div>
        {% endfor %}
        <div id="app-twitch-selector" data-item-type="{{ value.itemType }}">
            <twitch-selector></twitch-selector>
        </div>
    {% else %}
    <div class="box-header">
        <h3 class="box-title">You can only add an item through "Manage Items" on a home row</h3>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}
